.selects {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-left: 10px;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.title {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

button {
  height: 50px;
}

.my-form-field .mat-form-field-wrapper {
  padding-bottom: -1.25em;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.my-form-field .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accent {
  margin-left: 30px;
}
